body, html {
	height: 100%;
	background-color: #121212;
	margin: 0;
}

p, h5 {
	color: white;
}

footer {
	text-align: center;
	color: white;
	background-color: #000000;
	padding-top: 25px;
	height: 75px;
}

input:read-only {
	background-color: #1e1e1e!important;
}

.row {
	margin: 0px;
}

.row-cust {
	margin-left: auto;
	margin-right: auto;
}

@media (max-width: 1200px) {
    .row-cust{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }g
}

.navbar-custom {
	color: white;
	background-color: #000000;
	z-index: 99;
}

.form-control {
	background-color: #1e1e1e;
	border: solid 1px black;
	color: white;
}

.form-control:focus {
	background-color: #121212 !important;
	border: solid 1px black;
}

.container {
	color: white;
}

.col-center {
	margin-top: 2%;
}

.col-center p  {
	margin-left: 30%;
}

/* GENERAL CSS SHOULD BE PLACED ABOVE THIS POINT*/
/* START OF INDEX.HTML CSS*/


.hero-text h1 {
	text-align: center;
}

.hero-text2 {
	width: 30%;
	top: 10%;
	left: 5%;
	position: absolute;
	color: white;
	z-index: 1;
	padding: 10px;
}

@media (max-width: 900px) {
	.hero-text2 {
		width: 80%;
	}
}

.hero-text {
	height: 100%;
	margin: 0;
}


#collapse-hero {
	position: relative;
	top: 20px;
	left: 70%;
	color: white;
	background-color: #000000;
	opacity: 0.4;
	border: none;
	outline: none;
	font-size: smaller;
	z-index: 99;
	margin: 10px;
}

/* START OF MEMBER CSS*/
.member-intro {
	padding: 10px;
	overflow: hidden;
	height: 50px;
	transition: height 1.75s;
}

.expand-member-info {
	width: 100%;
	border: none;
	background-color: #111111;
	color: white;
}

#member-img img{
	width: 40%;
	border: 1px solid #000000;
	float: left;
	margin-right: 10px;
}

.arrow {
	border: solid white;
	border-width: 0 2px 2px 0;
	display: inline-block;
	padding: 3px;
}

.down {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

.up {
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
}

.member-cust {
	padding: 10px;
	display: inline-block;
	color: white;
	margin: 5px;
}

.member-name-pad {
	border: none;
	outline: none;
}

.member-name-pad h5 {
	padding: 10px;

}

#block-cust h5 {
	background-color: #111111
	color: white;
}

.member-cust h6 {
	margin: 0px;
}

.member {
	display: inline-block;
}

/* Start of Gallery */
.gallery {
	color: white;
	margin-top: 10px;
}

input[type=file] {
	border: 1px solid white;
	color: white;
	background-color: #000000;
}

.submit-form input {
	margin: 5px;
}

.submit-form p {
	color: white;
}

/* START OF TP CALC CSS*/
.form-reset-cust {
	width: 100%;
	margin: 0;
	height: 40px;
	background-color: #2b2b2b;
	color: #000000;
	border-color: #000000;
	border-radius: 5px;
	font-weight: bold;
	font-size: large;
}

.form-reset-cust:hover {
	background-color: #000000;
	color: white;
	transition: background-color .25s ease-in-out;
}

#bottom-calc {
	background-color: #000000;
	outline: none;
	border: none;
	padding: 2px;
}

.clear-history {
	float: right;
	display: inline-block;
	border-radius: 5px;
}

.history {
	width: 100%;
	height: 430px;
	border: none;
	overflow-y: scroll;
}

/* START OF TREASURY CSS */
.treasury-header-cust {
	color: white;
	background-color: #000000;
	padding: 15px;
	box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.6);
	height: 70px;
	width: 100%;
}

.remainder {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 0;
	margin: 0;
	font-weight: bold;
}

.remainder {
	background-color: rgba(0, 0, 0, .8);
	width: 102%;
}

#block-cust {
	border: 1px solid black;
	border-radius: 5px;
	box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.6);
	margin-top: 20px;
	overflow: hidden;
	background-color: #2b2b2b;
	color: white;
}

.block-cust-padding {
	padding: 10px;

}

#block-cust h5 {
	background-color: #111111;
}

.col-lg-12 {
	margin-bottom: 40px;
}

.item-search {
	border-radius: 5px;
	width: 50%;
	height: 40px;
	padding: 10px;
	background-color: #111111;
	border: none;
}

}
.item-search:focus {
	background-color: #111111;
}

@media screen and (max-width: 900px) {
	.item-search {
		width: 100%;
	}

	.treasury-media-cust {
		background-color: #000000;
		height: 120px;
	}
}

input:focus {
	color: white !important;
}

.card {
	display: inline-block;
	margin: 5px;
	box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.6); 
	border: 1px solid black;
}

.cust-card:hover {
	opacity: .7;
	cursor: pointer;
	transition: opacity .25s ease-in-out;
}

.cust-card {
}

.card-img-top {
	height: 45px;
	width: 45px;
	padding: 0px;
}

.card-text {
	font-size: x-small;
	padding: 0px;
	color: white;
	overflow: hidden;
}

.card-body {
	padding: 0px;
}

#space-head-cust {
	padding-left: 10px;
}

.upgrade-block {
	padding-bottom: 20px;
	margin: 10px;
	display: inline-block;
	border: 1px solid black;
	border-radius: 5px 0px 0px 0px !important;
	box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.4);
	background-color: #2b2b2b;
}

.upgrade-title-cust {
	padding-bottom: 10px;
	position: relative;
	background-color: #1e1e1e;
	width: 100%;
	height: 50px;
	color: white;
	padding-right: 10px;
	border-radius: 0px 5px 0px 0px;
	overflow: hidden;
}

.upgrade-icon {
	width: 50px;
	padding-left: 5px;
	float: left;
}

.upgrade-option {
	margin-top: 30px;
}

.ready {
	background-color: darkgreen;
	padding-right: 20px;
	border-radius: 5px 0px 0px 0px;
}

.not-ready {
	background-color: darkred;
	padding-right: 20px;
	border-radius: 5px 0px 0px 0px;
}

.cust-check {
	float: left;
	width: 206px;
	padding-bottom: 10px;
	padding-top: 10px;
	text-align: center;
}

@media (min-width: 1200px) {
    .container{
        max-width: 1500px;
    }g
}

.blocker {
	visibility: hidden;
}

.arrow-fix {
	padding: 10px;
	margin-top: 15px;
}

#btn-cust {
	width: 80px;
	height: 80px;
	position: fixed;
	bottom: 10px;
	right: 10px;
	color: white;
	background-color: #000000;
	border: 1px solid white;
}

/* START OF WVW MAP BUILD CSS */

.legend {
	padding-top: 10px;
	background: rgba(17, 17, 17, 0.7);
	transform: translate(5%, 50%);
	position: absolute;
	top: 80%;
	right: 5%;
	border: solid 1px #111111;
	padding: 10px;
	z-index: 1;
}

.legend-text {
	color: white;
	display: inline-block;
	padding-right: 20px;
	padding-left: 10px;
}

.legend-brick {
	padding: 7px;
	display: inline-block;
	border: solid 1px #111111;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url("../img/wvw/final_wvw.jpg");
  min-height: 941px;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

#guild-tag {
	color: white;
	position:relative;
	padding: 0;
	margin: 0;
	font-size: smaller;
}

.objective {
	position:absolute;
	height: 2.5%;
	padding: 0;
	margin: 0;
	width: 1%;
}

.objective img {
	height: 100%;
}

[id='38-9'] {
    top: 57.5%;
}

[id='38-11'] {
	top: 67%;
}

[id="38-1"] {
	top: 28.5%;
}

[id='38-15'] {
	top: 85%;
}

[id='38-3'] {
	top: 75%;
}

[id='38-17'] {
	top: 25%;
}

[id='38-7'] {
	top: 87%;
}

[id='38-5'] {
	top: 32%;
}

[id='38-21'] {
	top: 56%;
}

[id='38-20'] {
	top: 24%;
}

[id='38-14'] {
	top: 72.5%;
}

[id='38-13'] {
	top: 82%;
}

[id='38-6'] {
	top: 26%;
}

[id='38-2'] {
	top: 75.5%;
}

[id='38-12'] {
	top: 56.5%;	
}

[id='38-19'] {
	top: 40.5%;
}

[id='38-4'] {
	top: 84%;
}

[id='38-10'] {
	top: 53%;
}

[id='38-18'] {
	top: 40.5%
}

[id='38-8'] {
	top: 54%;
}

[id='38-22'] {
	top: 64%;
}

[id='38-16'] {
	top: 78%;
}

[id='38-123'] {
	top: 47%;
}

[id='38-131'] {
	top: 90%;
}

[id='38-130'] {
	top: 92%;
}

[id='38-126'] {
	top: 83%;
}

[id='38-125'] {
	top: 43%;
}

[id='38-124'] {
	top: 10%;
}