/*
	Filename: main.css
	Author: Gage Moeller
	Topic: Styling
	Description: Styling sheet for index.html
*/

body,html {
}

.container {
	background-color: #333;
	box-shadow: 5px 10px 10px #888888;
}

h2 {
	text-align: center;
	color: white;
}

h4 {
	color: white;
}

label {
	color: white;
}

span {
	float: right;
	padding-right: 50%;
}